CS HRMS WCF/AssnWCFWebClient/Connected Services/ServiceReference1/AssnService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssnService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCfAssnLibrary/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCfAssnLibrary/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCfAssnLibrary/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AssnDAL_Lib" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCfAssnLibrary/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssnService_GetProductsonId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsonId" />
  </wsdl:message>
  <wsdl:message name="IAssnService_GetProductsonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsonIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAssnService_GetCategoryIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryIds" />
  </wsdl:message>
  <wsdl:message name="IAssnService_GetCategoryIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssnService">
    <wsdl:operation name="GetProductsonId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssnService/GetProductsonId" message="tns:IAssnService_GetProductsonId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssnService/GetProductsonIdResponse" message="tns:IAssnService_GetProductsonId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssnService/GetCategoryIds" message="tns:IAssnService_GetCategoryIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssnService/GetCategoryIdsResponse" message="tns:IAssnService_GetCategoryIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssnService" type="tns:IAssnService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductsonId">
      <soap:operation soapAction="http://tempuri.org/IAssnService/GetProductsonId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryIds">
      <soap:operation soapAction="http://tempuri.org/IAssnService/GetCategoryIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssnService">
    <wsdl:port name="BasicHttpBinding_IAssnService" binding="tns:BasicHttpBinding_IAssnService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCfAssnLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>